.form_update {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.div-form{
    width: 50%;
    margin: 0 auto;
}

.form-control{
    margin-bottom: 1rem;
}

#checkbox-id{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.errorlist{
    color: red;
    list-style-type: none;
}

.errorlist li {
    text-indent: -20px; /* Desplaza el texto hacia la izquierda para que ocupe el espacio donde estaria el punto */
}