.form {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding-top:15px;
    padding-bottom: 20px;
}

.div-form{
    width: 50%;
    margin: 0 auto;
}

.form-control{
    margin-bottom: 1rem;
}

#checkbox-id{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}