{% load static %}

{% block head %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock head %}

<nav class="navbar sticky-top" style="background-color:rgb(232, 242, 243);">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center  text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="mis_a">
            <img src="{% static 'img/user-circle-regular-24.png' %}" alt="">
            <strong id="user">{{ request.user.first_name }} {{ request.user.last_name }}</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">Productividad</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'user_app:logout' %}">Sign out</a></li>
        </ul>
    </div>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">GraMon</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div style="text-align: left;">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{% url 'user_app:home' %}" class="nav-link text-decoration-none" id="mis_a">
                        <i class='bx bx-home' ></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-decoration-none" id="mis_a">
                        <i class='bx bx-line-chart-down'></i>
                        Statistics
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-decoration-none" id="mis_a">
                        <i class='bx bx-task'></i>
                        Orders
                    </a>
                </li>
                <li>
                    <a class="nav-link text-decoration-none" id="mis_a" data-bs-toggle="collapse" href="#opciones_product" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class='bx bxs-data'></i>
                        Products
                    </a>
                </li>
                <div class="collapse" id="opciones_product" style="padding-left: 30px; text-align: left;">
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li>
                            <a class="nav-link text-decoration-none" href="{% url 'products_app:list_products' %}" id="mis_a">
                                <i class='bx bxs-component'></i>
                                    Catalogo de productos
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-decoration-none" href="{% url 'products_app:create_product' %}"id="mis_a">
                                <i class='bx bx-package'></i>
                                    Registrar productos
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-decoration-none" href="#" id="mis_a">
                                <i class='bx bxs-cog'></i>
                                Configuraciones
                            </a>
                        </li>
                    </ul>
                </div>
                <li>
                    <a href="#" class="nav-link text-decoration-none" id="mis_a">
                        <i class='bx bxs-user'></i>
                        Customers
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-decoration-none" id="mis_a">
                        <i class='bx bxs-user'></i>
                        Customers
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-decoration-none" id="mis_a">
                        <i class='bx bxs-user'></i>
                        Customers
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link text-decoration-none" id="mis_a">
                        <i class='bx bxs-user'></i>
                        Customers
                    </a>
                </li>
                {% if request.user.is_superuser %}
                    <li>
                        <a class="nav-link text-decoration-none" id="mis_a" data-bs-toggle="collapse" href="#opciones_Admin" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class='bx bx-user-circle'></i>
                            administrar usuarios
                        </a>
                    </li>
                    <div class="collapse" id="opciones_Admin" style="padding-left: 30px; text-align: left;">
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li>
                                <a class="nav-link text-decoration-none" href="{% url 'admin_app:list_user' %}" id="mis_a">
                                    <i class='bx bx-group'></i >
                                        Listar usuarios
                                </a>
                            </li>
                            <li>
                                <a class="nav-link text-decoration-none" href="{% url 'admin_app:create_user' %}" id="mis_a">
                                    <i class='bx bxs-user-plus' ></i>
                                        Registrar usuario
                                </a>
                            </li>
                            <li>
                                <a class="nav-link text-decoration-none" href="#" id="mis_a">
                                    <i class='bx bxs-cog'></i>
                                    Configuraciones
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </ul>
        </div>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>


{% block scriptjs %}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock scriptjs %}