{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>home</title>
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}


{% block content %}
{% include 'includes/nav.html' %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nulla in explicabo ratione eum dolor facilis ut
  obcaecati optio. Ea est nihil molestiae vitae, quisquam eius. Ex provident omnis aut doloribus laudantium, sit ab
  officiis suscipit numquam saepe. A reiciendis voluptatem tenetur repellendus dolor eaque tempore nesciunt repellat
  deserunt suscipit voluptates distinctio non ea asperiores quia fugiat provident quae, ratione beatae nemo fuga dicta
  enim dolore rerum? Nisi natus similique vero, expedita sint deserunt, facere a dolore nulla iste suscipit? Similique
  eum soluta magni magnam qui non et consectetur? Dolores mollitia ullam ipsa illum asperiores reiciendis iure autem
  consectetur doloribus dolorum, a ex quasi nesciunt itaque maiores, sapiente modi fugiat obcaecati nisi molestiae nemo,
  suscipit numquam minus iusto? Dolor consequatur maiores ad odio hic unde, quisquam error aliquid neque optio debitis,
  aperiam rem necessitatibus quo enim adipisci perferendis. Veritatis debitis, totam commodi voluptatem reprehenderit
  maxime corrupti maiores praesentium sequi dolore illo suscipit recusandae, magnam cum voluptatibus. Ratione minima
  incidunt ipsam dicta optio vel praesentium quis magnam itaque nesciunt eaque commodi suscipit minus, dolor non
  expedita, officiis enim nisi. Quis sed facilis perspiciatis unde, molestias asperiores blanditiis provident sit,
  fugiat harum possimus impedit tempore at maxime. Iste ratione sit recusandae, suscipit consequatur veniam? Aliquid,
  earum dolore! Quis cum maiores ea aliquam aperiam culpa officiis perspiciatis deleniti accusantium, laborum,
  recusandae soluta, distinctio quod explicabo voluptate. Eveniet praesentium, rem, mollitia dicta ullam non deleniti
  saepe omnis corrupti eos illo? Quod sed similique vitae cum amet, ducimus, est omnis voluptates debitis natus
  assumenda doloribus suscipit quae officia vero cupiditate. Quasi cumque tempora natus rerum quos neque, unde
  doloremque, at, accusantium similique nulla sed asperiores modi? Suscipit modi doloribus officiis facilis fugit
  quaerat unde ipsum? Laudantium impedit, debitis sunt dignissimos consequuntur delectus autem maxime atque optio
  inventore totam? Doloremque mollitia saepe voluptatibus vero, fugit, deserunt provident ipsa dolorum nam maiores quo
  eaque autem exercitationem sequi quos animi ab harum, nesciunt quis cum nemo earum. Sunt est ad quos placeat enim ab
  dolorem odio pariatur ipsam beatae sapiente culpa nam nisi, eos eum velit itaque corrupti non laborum quam tempora
  necessitatibus distinctio delectus libero? Quia quam aspernatur recusandae quas, ut accusamus eligendi tempora minus
  delectus dolore molestias provident quos voluptates perspiciatis corrupti deleniti maxime odit earum repellendus odio
  blanditiis laboriosam asperiores. Autem labore asperiores officiis animi at eaque quos officia odio ut recusandae nam,
  eum impedit cumque, libero adipisci dicta rerum repellat atque! Doloremque laboriosam ut soluta dolorem vero deleniti
  sed velit iure tempore veritatis at quas reiciendis quos temporibus itaque, facilis neque animi possimus esse est!
  Sequi veniam maxime eveniet debitis rerum cupiditate accusantium, officia necessitatibus amet nihil excepturi natus
  dolore consequuntur odit fugiat incidunt atque modi a hic reiciendis vel eaque quasi? Sunt tempora, ullam possimus
  quis nostrum rem? Excepturi ipsum dolore perspiciatis fuga temporibus commodi, repellat rerum, consequuntur esse, sed
  neque nobis asperiores exercitationem aut inventore magni hic itaque. Non eos itaque, rem corrupti facilis, saepe
  perferendis possimus quae dolore sed ratione sequi adipisci tempore aut magni ad reprehenderit id necessitatibus, ex
  hic officiis ea. Commodi, neque, fuga quisquam, tempora dolores ut assumenda veritatis distinctio amet ducimus iste at
  optio nostrum! Accusamus adipisci, quam provident unde exercitationem animi iusto alias dolores, possimus dicta
  voluptatum quae, distinctio libero numquam dolorum placeat ad temporibus quia architecto. Repellat tempore praesentium
  corporis distinctio libero, dicta reiciendis recusandae sequi ipsum harum, minima consequatur. Ipsum, cupiditate. Non
  cupiditate temporibus odio maiores unde ea ratione, minima rem dignissimos asperiores laborum ullam cumque facilis
  pariatur ab voluptatem, quos quasi? Delectus odit deserunt nostrum fugiat illum iste ea repellendus. Sapiente
  doloremque repudiandae vero rem! Consectetur ex beatae animi suscipit, sed totam quasi deleniti mollitia voluptatibus
  voluptas aperiam soluta repudiandae quidem a architecto accusantium explicabo, tenetur autem maxime exercitationem
  quas voluptatem neque. Quaerat qui non molestias, totam voluptas iusto accusamus, sapiente sint id iste doloremque
  ipsum reiciendis repellendus consequuntur ipsam et tenetur beatae! Nesciunt sint tenetur, facilis quos reiciendis
  minus nemo molestiae suscipit consequuntur saepe fugiat veritatis odio et, quis sunt quasi pariatur ad doloremque ex
  nulla. Nam ad beatae ullam distinctio eum nulla asperiores cum adipisci iure reiciendis dolorum, necessitatibus eos
  quis porro nobis velit. Fuga a adipisci quasi nam, eaque nostrum id mollitia rem suscipit tempora cum laboriosam
  voluptas aut laborum commodi, consequatur enim asperiores saepe sit nobis repellendus tempore placeat magnam iure!
  Suscipit, sunt expedita, voluptatem, aperiam facere laboriosam a voluptates eos commodi excepturi ipsum. Repudiandae
  laudantium nobis culpa debitis earum nihil minima dolorem, temporibus ipsa cum, nesciunt enim, deserunt minus
  mollitia! Commodi doloremque architecto quam eveniet animi itaque in! Culpa aliquid hic error consequatur id, non
  iusto nostrum quidem rem omnis placeat voluptatum porro nulla. Esse non molestias dolores autem facilis earum
  provident asperiores enim dolore, quod repellendus, magnam culpa similique fuga quam inventore impedit facere aperiam,
  nostrum sunt debitis? Impedit alias nulla vitae, natus laborum quidem consectetur ea nemo velit cum, minima
  voluptatibus doloribus, aspernatur quia consequuntur. Dicta, atque distinctio optio similique enim, amet hic in
  aliquam sapiente ut necessitatibus ab voluptate dolorum, doloremque iure perspiciatis fugit? Hic quo doloribus fugiat
  ullam distinctio? Neque, sint eveniet nobis at ratione cum iure suscipit sit molestiae debitis et illo odio,
  architecto similique dignissimos ipsum ipsa necessitatibus reprehenderit repellendus reiciendis assumenda recusandae
  quod ut dolorum. Eveniet laboriosam harum impedit fugiat neque voluptatem! Deleniti modi perspiciatis praesentium esse
  sunt doloribus ex id commodi velit nam, aliquam dolorem quos porro, accusamus vitae incidunt. Praesentium, alias fuga.
  Voluptatibus reprehenderit inventore impedit dolorum eaque debitis deleniti aliquid repellendus modi, expedita
  doloribus veniam facere amet repudiandae nobis, assumenda recusandae, quasi obcaecati sapiente libero nesciunt ad rem
  laudantium? Ea rem consequuntur deserunt corporis aliquid reiciendis, atque nam optio quaerat nesciunt minima, amet
  laborum iste hic, temporibus quia totam. Fuga laboriosam repudiandae, molestiae architecto sapiente ex officiis fugiat
  obcaecati libero quo quam, rem, odit culpa. Repudiandae, dolore voluptates! Dolores ea enim debitis dolore sed?
  Dolores, accusamus doloremque nemo eligendi veritatis maiores vero labore facere sed obcaecati assumenda eos aliquam
  fugiat dolorum non architecto? Amet similique sint ipsam ab numquam vitae quasi accusantium libero dolore eveniet
  velit, tenetur reiciendis?</p>

  <p class="placeholder-glow">
    <span class="placeholder col-12"></span>
  </p>
  
  <p class="placeholder-wave">
    <span class="placeholder col-12"></span>
  </p>
{% endblock content %}